<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OMHBaseURL</key>
	<string>https://example.com</string>
	<key>OMHClientID</key>
	<string>OMHClientID</string>
	<key>OMHClientSecret</key>
	<string>OMHClientSecret</string>
</dict>
</plist>
